html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-top: 142px;
}

img {
  max-width: 100%;
  transition: transform 0.5s linear;
  display: block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-family: gil-regu;
  src: url("../fonts/Gilroy-Regular.otf");
}
@font-face {
  font-family: gil-xbold;
  src: url("../fonts/Gilroy-XBold.otf");
}
@font-face {
  font-family: gil-medi;
  src: url("../fonts/Gilroy-Medium.otf");
}
@font-face {
  font-family: gil-bold;
  src: url("../fonts/Gilroy-Bold.otf");
}
@font-face {
  font-family: gil-semi;
  src: url("../fonts/Gilroy-SemiBold.otf");
}
@font-face {
  font-family: robo-black;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: robo-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: gil-regu;
  cursor: pointer;
}

p,
div {
  font-family: gil-regu;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: gil-regu;
  color: #333333;
}

button {
  transition: 0.5s linear;
  font-family: gil-regu;
}

* {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0px auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0px auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0px auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1230px;
    margin: 0px auto;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
}
header.active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header.active .logo img {
  height: 60px;
}

.social-fix {
  position: fixed;
  bottom: 70px;
  right: 30px;
  display: flex;
  flex-direction: column;
  z-index: 200;
}
.social-fix .img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hd-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px;
}
.hd-top .logo {
  display: flex;
  align-items: center;
  gap: 35px;
}
.hd-top .logo .name-com {
  font-size: 19px;
  font-family: robo-black;
  color: #333333;
  text-transform: uppercase;
}
.hd-top .logo .rank {
  font-size: 16px;
  font-family: robo-bold;
  color: #6b6b6b;
  text-transform: uppercase;
}
.hd-top .hd-right {
  display: flex;
  align-items: center;
}
.hd-top .hotline {
  color: #333333;
  font-size: 18px;
  font-family: gil-semi;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #d9d9d9;
}
.hd-top form {
  margin-right: 60px;
}
.hd-top form .input {
  height: 35px;
  width: 260px;
  position: relative;
}
.hd-top form .input input {
  height: 100%;
  width: 100%;
  border-radius: 17.5px;
  border: 1px solid #d9d9d9;
  padding: 0 40px 0 10px;
}
.hd-top form .input input:focus {
  outline: none;
}
.hd-top form .input button {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.hd-top .lang .img {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hd-top .lang .img:first-of-type {
  display: flex;
}
.hd-top .lang .img:last-of-type {
  display: none;
}
.hd-top .lang p {
  font-size: 14px;
  font-family: gil-regu;
  color: #333333;
}
.hd-top .lang.active .img:first-of-type {
  display: none;
}
.hd-top .lang.active .img:last-of-type {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu > li {
  position: relative;
  padding: 9px 0;
}
.menu > li > a {
  font-size: 16px;
  font-family: gil-bold;
  text-transform: uppercase;
  color: #333333;
}
.menu > li:hover > a, .menu > li.active > a {
  color: #406ab3;
  border-bottom: 2px solid #f36f21;
}
.menu > li .submenu {
  background: #fff;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -15px;
  top: calc(100% + 20px);
  min-width: 200px;
  z-index: 28;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.menu > li .submenu > li {
  padding: 7px 0 7px 15px;
  border-bottom: 1px solid #d9d9d9;
}
.menu > li .submenu > li > a {
  font-size: 14px;
  font-family: gil-semi;
  color: #333333;
  text-transform: uppercase;
}
.menu > li .submenu > li:hover > a, .menu > li .submenu > li.active > a {
  color: #406ab3;
}
.menu > li .submenu > li:last-of-type {
  border-bottom: none;
}
.menu > li:last-of-type .submenu {
  left: unset;
  right: -15px;
}
.menu > li:hover .submenu {
  opacity: 0.8;
  pointer-events: all;
  top: 100%;
  transition: top 0.4s linear;
}

.slider {
  position: relative;
  margin-bottom: 90px;
}
.slider img {
  width: 100%;
  height: 100%;
}
.slider .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}
.slider .owl-dots .owl-dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin-right: 15px;
  background: #fff;
}
.slider .owl-dots .owl-dot span {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f36f21;
  margin: 2px auto;
}
.slider .owl-dots .owl-dot.active span {
  background: transparent;
}

.about {
  margin-bottom: 80px;
}

.ab-cnt {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}
.ab-cnt .img {
  width: calc(50% - 20px);
}
.ab-cnt .img img {
  height: 100%;
  width: 100%;
  transition: transform 0.4s linear;
}
.ab-cnt .txt {
  width: calc(50% - 50px);
}
.ab-cnt .txt span {
  font-size: 22px;
  font-family: gil-medi;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.ab-cnt .txt p {
  margin: 25px 0;
  font-size: 16px;
  font-family: gil-regu;
  color: #333333;
  line-height: 1.3;
  text-align: justify;
}
.ab-cnt .txt .title {
  text-align: start;
}
.ab-cnt .txt .title h2::before {
  left: 0;
  transform: none;
}
.ab-cnt .txt .title h2::after {
  background: #406ab3;
  left: 51px;
}

.title {
  text-align: center;
}
.title h2 {
  font-size: 32px;
  font-family: gil-xbold;
  color: #406ab3;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}
.title h2::before, .title h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 47px;
  position: absolute;
  bottom: 0;
}
.title h2::before {
  background: #f36f21;
  left: calc(50% - 2px);
  transform: translateX(-100%);
}
.title h2::after {
  background: #406ab3;
  left: calc(50% + 2px);
}

.see-more {
  height: 40px;
  width: 145px;
  border-radius: 20px;
  background: #f36f21;
  border: 1px solid #f36f21;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}
.see-more:hover {
  background: #fff;
  color: #f36f21;
}

._see-more {
  height: 35px;
  width: 130px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
}

.field {
  position: relative;
}
.field::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  background: #f1f1f1;
  z-index: -1;
}

.field-cnt {
  margin-top: 20px;
  padding-bottom: 40px;
}
.field-cnt .see-more {
  margin: 0 auto;
}

.field-item {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 35px;
}
.field-item .item {
  width: calc((100% - 50px) / 3);
  position: relative;
  transition: all 0.5s linear;
  border-radius: 5px;
  overflow: hidden;
}
.field-item .item .img {
  position: relative;
}
.field-item .item .img img {
  height: 100%;
  width: 100%;
}
.field-item .item .img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(24, 72, 155, 0), rgb(24, 72, 155));
}
.field-item .item .txt {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}
.field-item .item .txt h3 {
  text-align: center;
  font-size: 22px;
  font-family: gil-bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}
.field-item .item .txt p {
  text-align: center;
  font-size: 16px;
  font-family: gil-regu;
  color: #fff;
  padding: 0 40px;
  margin-bottom: 30px;
  display: none;
}
.field-item .item:hover .img::before {
  top: 0;
  background-image: linear-gradient(to top, rgba(8, 50, 122, 0.9), rgba(35, 150, 216, 0.9));
}
.field-item .item:hover .txt {
  bottom: 50%;
  transform: translateY(50%);
}
.field-item .item:hover .txt p {
  display: block;
}

.product {
  padding: 50px 0;
  background: url("../images/bgr-pro.png") no-repeat;
}

.pro-cnt {
  margin-top: 30px;
  position: relative;
}
.pro-cnt .item {
  transition: all 0.5s linear;
}
.pro-cnt .item .img {
  border-radius: 5px;
  overflow: hidden;
  z-index: -1;
}
.pro-cnt .item .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pro-cnt .item .txt {
  width: calc(100% - 40px);
  padding: 20px 0;
  margin: -60px auto 0;
  border-radius: 5px;
  background: #fff;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pro-cnt .item .txt h3 {
  font-size: 20px;
  font-family: gil-bold;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}
.pro-cnt .item .txt ._see-more {
  border: 1px solid #f36f21;
  color: #f36f21;
}
.pro-cnt .item:hover .txt {
  background: #f36f21;
}
.pro-cnt .item:hover .txt h3 {
  color: #fff;
}
.pro-cnt .item:hover .txt ._see-more {
  border: 1px solid #fff;
  color: #fff;
}
.pro-cnt .item:hover .img img {
  transform: scale(1.05);
}
.pro-cnt .owl-dots {
  margin-top: 30px;
}
.pro-cnt .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f36f21;
  margin-right: 10px;
}
.pro-cnt .owl-dots .owl-dot span {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: 2px auto;
  background: transparent;
}
.pro-cnt .owl-dots .owl-dot.active span, .pro-cnt .owl-dots .owl-dot:hover span {
  background: #fff;
}
.pro-cnt .owl-prev, .pro-cnt .owl-next {
  position: absolute;
  bottom: -5px;
}
.pro-cnt .owl-prev i, .pro-cnt .owl-next i {
  color: #f36f21;
  font-size: 16px;
}
.pro-cnt .owl-prev:hover, .pro-cnt .owl-next:hover {
  background: transparent !important;
}
.pro-cnt .owl-next {
  right: calc(50% - 100px);
}
.pro-cnt .owl-prev {
  left: calc(50% - 100px);
}

.journey {
  background: url("../images/banner2.jpg") no-repeat;
  padding: 70px 0;
  margin-bottom: 55px;
}
.journey h2 {
  font-size: 32px;
  font-family: gil-xbold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}
.journey .container > p {
  font-size: 16px;
  color: #fff;
  font-family: gil-medi;
  text-align: center;
  padding: 0 100px;
  margin-bottom: 70px;
}
.journey .journey-cnt {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.journey .journey-cnt .it {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.journey .journey-cnt .it .img {
  margin-bottom: 25px;
}
.journey .journey-cnt .it span {
  font-size: 36px;
  font-family: gil-bold;
  color: #ffd064;
  margin-bottom: 10px;
}
.journey .journey-cnt .it p {
  white-space: nowrap;
  font-size: 18px;
  font-family: gil-medi;
  color: #fff;
}

.news .title {
  margin-bottom: 20px;
}
.news ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.news ul li {
  font-size: 18px;
  font-family: gil-bold;
  text-transform: uppercase;
  color: #5e5e5e;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #d9d9d9;
}
.news ul li:hover, .news ul li.active {
  color: #406ab3;
}
.news ul li:last-of-type {
  border-right: 0;
}
.news .news-cnt {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.news .news-cnt .left, .news .news-cnt .right {
  width: calc((100% - 20px) / 2);
}
.news .news-cnt .left .img {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.news .news-cnt .left .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news .news-cnt .left h3 {
  font-size: 20px;
  font-family: gil-bold;
  color: #333333;
  margin-bottom: 15px;
}
.news .news-cnt .left p {
  font-size: 16px;
  font-family: gil-regu;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: #333333;
}
.news .news-cnt .right {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.news .news-cnt .right .item {
  width: calc((100% - 20px) / 2);
}
.news .news-cnt .right .item .img {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
.news .news-cnt .right .item .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news .news-cnt .right .item h3 {
  font-size: 16px;
  font-family: gil-regu;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: #333333;
}
.news .news-cnt .over {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  background-image: linear-gradient(to top, rgba(8, 50, 122, 0.9), rgba(35, 150, 216, 0.9));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.5s linear;
}
.news .news-cnt .img:hover .over {
  height: 100%;
  opacity: 1;
  pointer-events: all;
}

.customer {
  padding: 70px 0 60px;
}
.customer .title {
  margin-bottom: 30px;
}
.customer .cus-cnt {
  position: relative;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.customer .cus-cnt .item {
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.customer .cus-cnt .item img {
  width: unset;
}
.customer .cus-cnt .item::before {
  content: "";
  display: block;
  width: 1px;
  height: calc(100% - 40px);
  position: absolute;
  right: 0;
  top: 20px;
  background: #d9d9d9;
}
.customer .cus-cnt .owl-nav {
  display: block;
}
.customer .cus-cnt .owl-next, .customer .cus-cnt .owl-prev {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
}
.customer .cus-cnt .owl-next i, .customer .cus-cnt .owl-prev i {
  font-size: 32px;
  color: #afafaf;
}
.customer .cus-cnt .owl-next:hover, .customer .cus-cnt .owl-prev:hover {
  background: transparent;
}
.customer .cus-cnt .owl-prev {
  left: 10px;
}
.customer .cus-cnt .owl-next {
  right: 10px;
}

footer {
  background: #406ab3;
  position: relative;
}
footer .ft-top {
  padding: 35px 0;
  display: flex;
  align-items: flex-start;
}
footer .ft-top .logo {
  width: 20%;
}
footer .ft-top .info-com {
  width: 32%;
  padding: 0 25px;
}
footer .ft-top .info-com .item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-family: gil-regu;
  color: #fff;
  margin-bottom: 15px;
}
footer .ft-top ul {
  width: 28%;
  column-count: 2;
  padding: 0 25px;
}
footer .ft-top ul li {
  margin-bottom: 15px;
}
footer .ft-top ul li a {
  font-size: 15px;
  font-family: gil-regu;
  color: #fff;
}
footer .ft-top .social {
  width: 20%;
  padding-left: 25px;
}
footer .ft-top .social .img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
footer .ft-top .social .social-flex {
  display: flex;
  align-items: center;
  justify-content: start;
}
footer .ft-top .tit {
  font-size: 16px;
  font-family: gil-bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .ft-top .it {
  position: relative;
}
footer .ft-top .it::before {
  content: "";
  display: block;
  width: 1px;
  height: 162px;
  background: #6688c2;
  position: absolute;
  right: 0;
  top: 0;
}
footer .ft-bot {
  padding: 25px 0;
  border-top: 1px solid #6688c2;
}
footer .ft-bot p {
  text-align: center;
  font-size: 14px;
  font-family: gil-regu;
  color: #fff;
}

.banner {
  position: relative;
  margin-bottom: 60px;
}
.banner .img img {
  height: 100%;
  width: 100%;
}
.banner p {
  font-size: 34px;
  font-family: gil-bold;
  color: #fff;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
.banner ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  background: #f36f21;
}
.banner ul li {
  padding: 0 25px;
  border-right: 1px solid #f2aa80;
}
.banner ul li:last-of-type {
  border-right: none;
}
.banner ul li a {
  font-size: 16px;
  font-family: gil-semi;
  text-transform: uppercase;
  color: #fff;
  padding: 2px 0;
}
.banner ul li:hover a {
  border-bottom: 2px solid #fff;
}

._about {
  margin-bottom: 50px;
}
._about .title {
  margin-bottom: 40px;
}
._about ._ab-cnt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
}
._about ._ab-cnt .txt {
  width: calc((100% - 60px) / 2);
}
._about ._ab-cnt .txt p {
  font-size: 16px;
  font-family: gil-regu;
  line-height: 1.5;
  text-align: justify;
}
._about ._ab-cnt .img {
  width: calc((100% - 60px) / 2);
}
._about ._ab-cnt .img img {
  height: 100%;
  width: 100%;
}

.vision .vision-cnt {
  padding: 20px 0 65px;
  background: url("../images/bgr-about.png") no-repeat;
}
.vision .mission {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.vision .mission .item {
  width: 33.3333333333%;
  padding: 0 35px;
}
.vision .mission .item .img {
  margin-bottom: 15px;
}
.vision .mission .item p {
  font-size: 16px;
  font-family: gil-regu;
  text-align: justify;
}
.vision .mission .item:first-of-type {
  padding-left: 0;
}
.vision .mission .item:last-of-type {
  padding-right: 0;
}
.vision .mission::before, .vision .mission::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: #d9d9d9;
  position: absolute;
  top: 0;
}
.vision .mission::before {
  left: 33.3333333333%;
}
.vision .mission::after {
  left: 66.6666666667%;
}

.vision-content {
  margin-bottom: 45px;
}
.vision-content .title {
  margin-bottom: 15px;
}
.vision-content > p {
  padding: 0 250px;
  font-size: 16px;
  font-family: gil-regu;
  text-align: center;
}

.core {
  margin-bottom: 50px;
}

.core-cnt {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.core-cnt .it {
  width: calc((100% - 80px) / 3);
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  position: relative;
  transition: all 0.5s linear;
}
.core-cnt .it .tit {
  font-size: 20px;
  font-family: gil-bold;
  color: #406ab3;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.core-cnt .it .img {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.core-cnt .it p {
  font-size: 16px;
  font-family: gil-regu;
}
.core-cnt .it:hover {
  background-image: linear-gradient(to top, #105095, #1c7abd);
}
.core-cnt .it:hover p {
  color: #fff;
}

.contact-cnt {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.contact-cnt .info-com, .contact-cnt form {
  width: 50%;
}
.contact-cnt .tit {
  font-size: 24px;
  font-family: gil-bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact-cnt .info-com {
  padding-right: 90px;
}
.contact-cnt .info-com .add {
  background: url("../images/ic-loca.png") no-repeat;
}
.contact-cnt .info-com .phone {
  background: url("../images/ic-dt.png") no-repeat;
}
.contact-cnt .info-com .fax {
  background: url("../images/ic-fax.png") no-repeat;
}
.contact-cnt .info-com .mail {
  background: url("../images/ic-mail.png") no-repeat;
}
.contact-cnt .info-com .web {
  background: url("../images/www.png") no-repeat;
}
.contact-cnt .info-com .it {
  padding-left: 30px;
  background-position: 0 3px;
  font-size: 16px;
  font-family: gil-regu;
  margin-bottom: 20px;
}
.contact-cnt form .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.contact-cnt form .form-group .input {
  width: calc((100% - 15px) / 2);
  height: 40px;
}
.contact-cnt form .form-group .input input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding-left: 15px;
  background: #f3f3f3;
}
.contact-cnt form .form-group .input input:focus {
  outline: none;
}
.contact-cnt form .form-group .area {
  width: 100%;
  height: 150px;
}
.contact-cnt form .form-group .area textarea {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 15px 0 0 15px;
  background: #f3f3f3;
}
.contact-cnt form .form-group .area textarea:focus {
  outline: none;
}
.contact-cnt form .form-group ::placeholder {
  font-size: 16px;
  font-family: gil-regu;
}
.contact-cnt form button {
  height: 40px;
  width: 140px;
  border-radius: 20px;
  border: 1px solid #f36f21;
  background: #f36f21;
  color: #fff;
  font-size: 15px;
  font-family: gil-semi;
  text-transform: uppercase;
  transition: all 0.5s linear;
}
.contact-cnt form button:hover {
  background: #fff;
  color: #f36f21;
}

.map {
  margin-bottom: 50px;
}
.map iframe {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
